@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Protest+Strike&display=swap');

/*----- Base Style -----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Concert One', sans-serif;
    
}

:root {
    --body-color: #000 ;
    --primary-color: #f4f4f4 ;
    --secondary-color: #fff ;
    --secondary-2-color: #ccc ;
    --p-color: #555 ;
    --input-color: #fbfbfb ;
    --input-hover-color: #f0efef ;
    --shadow-color: rgba(255, 255, 255, 0.8);
    --border-color:#353535 ;
    --color--logo: #ff5200;
    --first-color: hsl(38, 92%, 58%);
    --first-color-light: hsl(38, 100%, 78%);
    --first-color-alt: hsl(32, 75%, 50%);
    --second-color: hsl(195, 75%, 52%);
    --dark-color: hsl(212, 40%, 12%);
    --white-color: hsl(212, 4%, 95%);
    --container-color: hsl(212, 42%, 20%);
}
/* //  BODY TIM  ---  */
body {
    background: var(--body-color);
}
.change-theme {
    font-size: 1.2rem;
    cursor: pointer;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.btn {
    background: #ff5200;
    padding: 9px 19px;
    border-radius: 7px;
    color: #fff;
    font-size: 17px;
    box-shadow: 1px 2px 62px -2px rgb(255 82 0);
}

/* // STRIT CONTAINER  ---  */
.container{
    padding: 0 15px;
    width: 600px;
    margin: 0 auto;
    transition: transform .5s;
}
/* // CONTAINER   */

@media (min-width: 768px) {
    .container{
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* // END CONTAINER  ---  */

/* // STRIT HEADER  ---  */


header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 9px 6% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
.logo {
    font-size: 1.5rem;
    color: var(--color--logo);
    font-weight: 600;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-container ul li {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    margin-right: 2rem;
}

.nav-container ul li a {
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition:  color .5s;
}
.nav-container ul .after {
    color: var(--color--logo);
}
.nav-button i {
    color:var(--secondary-color);
    font-size: 17px ;
    margin: .8rem;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0 0 0 / 10%);
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all .5s ease;
    justify-content: space-around;
}
.sidebar li{
    width: 100%;
}
.sidebar a {
    width: 100%;
}
#menu {
    display: none;
}
.nav-button-sidebar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    color: #fff;
    font-size: 17px;
    margin-top: 1rem;
}
#hideSidebar {
    display: inline-flex;
    padding: 17px;
    font-size: 23px;
    margin-left: 20px;
}
.navBT:hover {
    backdrop-filter: blur(20px);
}
#icn {
    font-size: 29px;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    #menu {
        display: block;
    }
    #icon {
        display: none;
    }
    #swiper-button {
        display: none;
    }
}




/* // END HEADER  ---  */
/* // STRIT PRPFILE  ---  */
.Profile {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
    justify-items:center;
}
.Profile .prof-text {
    display: flex;
    margin-left: 4rem;
    color: var(--secondary-color);
    flex-direction: column;
    height: 90vh;
    justify-content: flex-end;
}
.Profile .prof-text .prof-text-h1{
    font-size: 60px;
    font-weight: 600;
}

.Profile .prof-text .prof-text-p1{
    font-size: 17px;
    width: 90%;
}
.Profile .prof-button {
    margin-top: 2rem;
}
.Profile .prof-text .img-after-button  {
    margin-top: 65px;
    position: relative;
}

.Profile .prof-text .img-after-button img {
 max-width: 200px;
 margin: 10px;
 border: 1px solid var(--secondary-color);
 width: 100px;
 height: 100px;
 padding: 10px;
 border-radius: 10px;
 transition: 0.2s;
 

}
.Profile .prof-text .img-after-button img:hover{
    margin-bottom: -10px;
}
.Profile .prof-button .btn-color-2 {
    color: var(--color--logo);
    font-size: 14px;
    background: transparent;
    margin-left: 10px;
    
}
.Profile .prof-img img {
    max-width: 600px;
    filter:drop-shadow( 1px 39px 268px  rgb(255 82 0));
}  

/*  */
@media (max-width: 768px) {
    .Profile {
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
    }
    .Profile .prof-img {
        margin-top: 100px;
        position: relative;
    }
    .Profile .prof-text {
        text-align: center;
        z-index: 1;
        margin-left: 0;
    }
    .Profile .prof-text .prof-text-p1 {
        display: none;
    }
   
}

@media (max-width: 992px) {
    .Profile .prof-text .prof-text-h1{
        font-size: 40px;
    }
    .Profile .prof-text .prof-text-p1{
        font-size: 12px;
        width: 100%;
    }
    .Profile .prof-img img {
        max-width: 400px;
    }  
    .Profile .prof-text {
        height: 0;
        display: block;
    }

}

@media (max-width: 1200px) {
 
    .img-after-button {
        display: none;
    }
}
/* // END PRPFILE  ---  */
/* // STRIT NAVBOX  ---  */
.navbox {
    text-align: center;
    padding: 20px 0;
}
.navbox .container  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbox .container .box {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 1rem;
    border-radius: 7px;
}
.navbox .container .box .text  {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 1rem;
    color: #fff;
}
.navbox .container .box .text a {
    color: var(--color--logo);
}
.navbox .box-1 {
    background: #ffc107;
}
.navbox .box-2 {
    background: #f44336;
}
.navbox .box-3 {
    background: #3a8f3d;
}
.navbox .container img {
    max-width: 100px;
    width: 100px;
    height: 100px;
}

.navbox .ofar-titel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
}
.navbox .ofar-titel .box-o {
    display: flex;
    background: var(--border-color);
    margin: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 1.5rem;
}
.navbox .ofar-titel .box-o .text {
    width: 70%;
    color: #222;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Concert One', sans-serif;
    

}
.navbox .ofar-titel .box-o .text h2 {   color: var(--secondary-color);  }
.navbox .ofar-titel .box-o .text span {   color:var(--color--logo);  }
.navbox .ofar-titel .box-o .text p {   color:var(--secondary-color);  }
.navbox .ofar-titel .box-o .text a {   color: var(--color--logo);  margin-top: 20px; font-size: 18px;}

.navbox .ofar-titel img {
    max-width: 150px;
    width: 200px;
    height: 200px;
}

/*  */
@media (max-width: 768px) {
    .navbox .container ,.navbox .ofar-titel {
        display: block;
        width: 100%;
    }
    .navbox .ofar-titel .box-o  {
        width: auto;
    }
    .navbox .ofar-titel .box-o .text h2 {
        font-size: 18px;
    }
    .navbox .ofar-titel .box-o .text p {
        font-size: 10px;
    }

}

@media (max-width: 992px) {
    .navbox .container img {
        max-width: 80px;
    }
    .navbox .container .box .text h2 {
        font-size: 20px;
    }
    .navbox .container .box .text p {
        font-size: 12px;
    }
    .container {
        width: 850px;
    }

}
/* // END NAVBOX  ---  */
/* // STRIT ABOUT   ---  */

.about {
    padding: 60px 0;
}
.about .container {

    color: var(--secondary-color);
    display: flex;

}
.about .container img {
    max-width: 600px;
    border-radius: 7px;
}
.about .text {
    text-align: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.about .text h2 {
    font-size: 30px;
    font-weight: 600;

}
.about .text ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-left: 5px;
    background-color: var(--border-color);
    border-radius: 7px;
    padding: 10px;
    
}
.about .text ul i {
    margin: 5px;
    color: var(--color--logo);
    font-size: 17px;
}


.img-a  img{
    filter: saturate(0%);
    width: 10%;
    border: 2px solid whitesmoke;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    transition: all ease 0.4s;
    cursor: pointer;
}
.img-a img:hover{
    filter: saturate(100%);
    width: 60%;
}
/*  */
@media (max-width: 768px) {
    .img-a{
  display: none;
    }
    .about .text {
        display: block;
        text-align: center;
    }
    .about .text h2 {
        font-size: 30px;
        font-weight: 600;
    
    }
    .about .container {
        width: 100%;

    }

}

/* // END ABOUT  ---  */
/* // STRIT MENU  ---  */

.wrapper {
    width: 100%;
    overflow-x: hidden;
    padding: 60px 0;
}
.wrapper .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
.category-fliter {
    margin-top: 40px;
}
.title {
    margin-bottom: 40px;
}
.title h1 {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 3px;
}
.filter-btns {
    text-align: center;
}
.filter-btn {
    background: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: var(--secondary-2-color);
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.filter-btn::after{
    content: '';
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: var(--secondary-2-color);
    transition: all 0.2s ease-in-out;
}
.filter-btn:hover{
    color: #222;
}
.filter-btn:hover::after {
    width: 100%;
}
.active-btn{
    color: var(--color--logo);
}
.active-btn::after {
    width: 100%;
}
.filter-items{
    margin-top: 40px;
}
.item-img {
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 250px;
    display: flex;
}
.item-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background: rgba(212,203, 203, 0.1);
}
.item-img .discount {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #3a8f3d;
    z-index: 1;
    border-radius: 7px;
    color: #fff;
    font-size: 12px;
    padding: 4px 16px;
}
.item-img img {
    width: 100%;
    display: block;
    transition: transform 0.2s ease-in-out;
}
.filter-item:hover .item-img img {
    transform: scale(1.1);
}
.item-info {
    padding: 14px 0;
    color: var(--secondary-color);
}
.item-info p {
   
    font-size: 17px;
    margin-top: 8px;
}
.item-img .old-price {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}
.item-info .new-price {
    display: inline-block;
    margin-left: 6px;
    font-weight: 600;
    color: var(--color--logo);
}
.add-btn {
    display: inline-block;
    margin-top: 20px;
    background-color:  var(--color--logo);
    text-decoration: none;
    color: var(--secondary-color);
    padding: 8px 20px;
    border-radius: 7px;
    border: 2ox solid  var(--color--logo);
    transition: all 0.2s ease-in-out;
}
.add-btn:hover{
    border-color: var(--color--logo);
    background-color: var(--secondary-color);
    color: var(--color--logo);
}
.filter-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.filter-item{
    width: 100%;
    margin-bottom: 40px;
    transition: fadeln 1s;
}
@keyframes fadeln{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*  */
@media screen and (max-width:768px) {
    .filter-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container {
        width: 100%;

    }
    .filter-btn {
        margin: 4px 5px;
        font-size: 17px;
    }
    .item-img {
        width: 150px;
        height: 150px;
    }


}
@media screen and (min-width:268px) {
    .filter-item{
        width: calc(50% - 30px);
    }
}
@media screen and (min-width:992px) {
    .filter-item{
        width: calc(33.3333% - 30px);
    }
}
@media screen and (min-width:1200px) {
    .filter-item{
        width: calc(25% - 30px);
    }
}

/*  */


/* // END MENU  ---  */

/* // STRIT REVIEW  ---  */
.review {
    padding: 60px 0;
    text-align: center;
}

.card__article {
    width: 300px; /* Remove after adding swiper js */
    border-radius: 1.25rem;
    overflow: hidden;
    padding: 10px;
  }
  
  .card__image {
    position: relative;
    background-color: var(--color--logo);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
    border-radius: .5rem;
  }
  
  .card__data {
    background-color: rgb(53 53 53 / 20%);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  
  .card__img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    border-radius: 1rem;
  }
  

  
  .card__name {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: .75rem;
  }
  
  .card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
    color: var(--secondary-color);
  }
  
  .card__button {
    display: inline-block;
    font-size: 30px;
    color: var(--color--logo);
    font-weight: 600;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
      color: var(--color--logo);
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
      background-color: var(--color--logo);
  }
  
/* // END  REVIEW  ---  */
/* // STRIT CONTACT  ---  */
.contact {
    padding: 60px 0;
}
.contact .container {
   background-color: var(--color--logo);
   height: 300px;
   border-radius: 7px;
   padding: 1rem;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.contact .container .text h2 {
    font-size: 40px;
    color: var(--secondary-color);
}
.contact .container .text p {
    font-size: 18px;
    color: var(--secondary-color);
}
.contact .container .input  {
    margin-top: 10px;
}
.contact .container .input input {
    font-size: 19px;
    background-color: var(--secondary-color);
    border-radius: 7px;
    color: #000;
    padding: 9px 19px;
    width: 42%;
}
.contact .container .input .btn-1 {
    border: 2px solid #fff; 
    
}
/* // END  CONTACT  ---  */
/* // END  CONTACT  ---  */
footer {
    padding: 10px 0;
}
footer .footer-container .logo { color: var(--color--logo);}
footer .footer-container{
    display: flex;
    padding: 20px;
    margin: 0;
    justify-content: space-around;
    align-items: flex-start;
}

footer .footer-container p {
    font-size: 16px;
    color:var(--secondary-color);
}
footer .footer-container h2 {
    color: var(--secondary-color);
}

footer .footer-container ul {
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
}
footer .footer-container li {
    color: var(--secondary-color);
}
footer .footer-container a {
    color: #fff;
}
footer .footer-container i {
    margin: 10px;
    color: var(--color--logo);
}
p.copyright {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--secondary-color);
}
p.copyright a {
    color: var(--color--logo);
    
}
/* media footer */
@media (max-width:800px) {
    footer .footer-container form input {
        font-size: 11px;

    }
    footer .footer-container form .button {
        font-size: 10px;
        padding: 10px 20px;
    }
    footer .footer-container p {
        font-size: 10px;
    }
    footer h2 {
        font-size: 20px;
    }
    footer .footer-container .fotr-5  ul{
        font-size: 10px;
        padding: 0;
        margin: 0;
        
    }

    footer .footer-container .fotr-2 , footer .footer-container .fotr-3 ,  footer .footer-container .fotr-4 {
        display: none;

    }
    p.copyright {
        font-size: 15px;
    }
}
/* // END  CONTACT  ---  */