@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Protest+Strike&display=swap');
 *{
     margin: 0;
     padding: 0;
     font-family:'Concert One', sans-serif;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
 }
 body {
     background-color: var(--body-color);
 }
 :root{
    --color--logo: #ff5200;
    --secondary-color: #fff ;
    --body-color: #000 ;
 }
 .shop {
     text-align: center;
     padding: 50PX;
 }
 .shop h2 {
     font-size: 48px;
     text-transform: uppercase;
     font-weight: 700;
     line-height: 1.5;
     color: var(--secondary-color);
 }
 .shop iframe {
     width: 100%;
     height: 450px;
     border-radius: 7px;
 }
 .iocks-links {
     padding: 4rem;

 }
 .iocks-links i {
     margin: .5rem ;
     padding: 1rem;
     background-color: var(--color--logo);
     color: var(--secondary-color);
     border-radius: 7px;
     font-size: 25px;
     width: 15rem;
 }
 .iocks-links span {
     margin-left: .5rem;
     font-size: 25px;
     font-weight: 400;
 }
 @media (max-width:800px) {
    .shop-2 {
        display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .iocks-links i {
        width: auto;
        font-size: 17px;
        width: 10rem;
    }
    .iocks-links {
        padding: 0;
    }

     
 }